<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>serviceController</servlet-name>
        <servlet-class>controller.serviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newsController</servlet-name>
        <servlet-class>controller.newsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailController</servlet-name>
        <servlet-class>controller.detailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactController</servlet-name>
        <servlet-class>controller.contactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchNewsController</servlet-name>
        <servlet-class>controller.searchNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchByTopicController</servlet-name>
        <servlet-class>controller.searchByTopicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controller.ProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>serviceController</servlet-name>
        <url-pattern>/serviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newsController</servlet-name>
        <url-pattern>/newsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailController</servlet-name>
        <url-pattern>/detailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactController</servlet-name>
        <url-pattern>/contactController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchNewsController</servlet-name>
        <url-pattern>/searchNewsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchByTopicController</servlet-name>
        <url-pattern>/searchByTopicController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
